@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  overflow: hidden;
  font-family: 'Sora', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}

@layer base {
  :root {
    --light: 247 252 254;
    --dark: 36 37 38;
  }
}
