@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Lato:wght@300&family=Open+Sans:wght@300&family=Roboto:wght@100&family=Square+Peg&display=swap');
/****************************SCROLL BAR***********************************/
::-webkit-scrollbar {
    width: 11px;
    
}
  
 
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
   
::-webkit-scrollbar-thumb {
    background: #888; 
}
  
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

/******************************BODY*************************************/
body{
    margin:0;
    padding:0;
    font-family: 'Roboto', sans-serif;
    min-width: 400px;
    min-height: 200px;
    max-height: 300px;
    overflow: hidden;
    
}


/******************************TOP-BOX*************************************/
.container{
    width:100vw;
    height:80vh;
    position: relative;
    overflow: scroll;
    overflow-x: hidden;
}
.desert{
    
    margin: 2vh 0 ;
    position: absolute;
    width:94vw;
    height: 76vh;
    left:3vw;
    overflow:hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.4;
    
}


.link-box{
    position: relative;
    
    min-height: 30px;
    margin-top:2vh;
    margin-left:5vw;
    height: 6vh;
    width: 90vw;
    background-color: rgba(0, 0, 0, 0.208);
    
}

.link-box:hover{
    transition: transform 0.45s;
    transform: scale(1.04);
}
.link-btn{
    position: absolute;
    font-size: 15px;
    width: 56vw;
    min-height: 30px;
    height: 6vh;
    display: flex;    
    align-items: center;
    margin-left:2vw;
    color: rgb(0, 2, 21);
    overflow: hidden;
}

.notes{
    min-height: 30px;
    position: absolute;
    width: 13vw;
}
.note-icon {
    min-height: 23px;
    position: absolute;
    height: 3vh;
    margin-left: 66.5vw;
}
.delete-btn {
    min-height: 30px;
    position: absolute;
    width: 13vw;
    
}
.del-icon{
    min-height: 30px;
    position: absolute;
    height: 5vh;
    margin-left: 73.5vw;

}

.move-btn{
    min-height: 30px;
    position: absolute;
    width: 13vw;

}
.move-icon{
    min-height: 20px;
    position: absolute;
    height: 4vh;
    margin-left: 82.5vw;
    top: 2vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

.del-icon:hover{
    background-color: rgba(224, 69, 69, 0.351);
}
.move-icon:hover{
    background-color: rgba(140, 140, 140, 0.364);
    
}

/******************************THE-FOOTER******************************************/

.buttons{
    height: 20vh;
    margin:0;
    position: relative;
    width:100vw;
}
#save-btn {
    
    margin-top: 3.5vh;
    margin-bottom:3.5vh;
    position: absolute;
    width: 33.5vw;
    height: 13vh;
    left:3vw;
    padding: 4px 12px;
    border-radius:3px;
    background: rgb(13, 141, 13);
    color: aliceblue;
    border: 2px solid rgb(13, 141, 13);
    font-weight: 500;
}
#save-btn:hover{
    background: aliceblue;
    color: rgb(13, 141, 13);
    font-weight: 550;
}
#erase-btn {
    color: rgb(255, 255, 255);
    background: rgb(243, 0, 0);
    border: 2px solid rgb(243, 0, 0);
    margin-top: 3.5vh;
    margin-bottom:3.5vh;
    position: absolute;
    width: 33.5vw;
    height: 13vh;
    left:39.5vw;
    padding: 4px 12px;
    border-radius:3px;
    font-weight: 500;
}
#erase-btn:hover{
    color: rgb(243, 0, 0);
    background: rgb(255, 255, 255);
    font-weight: 550;
}

#ideal-cart{
    font-size:1rem;
    font-weight: 800;
    font-family: 'Cedarville Cursive', cursive;
    color:rgb(189, 247, 0);
    position: absolute;
    left:76vw;
    bottom:2.3vh;
    opacity:0.4;
}