@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 560px;
  width: 448px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "Sora", sans-serif;
}

img {
  cursor: default;
  user-select: none;
}
button {
  user-select: none;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #b9b9b9;
  border-radius: 30px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(156, 156, 156) b3b;
}

::-moz-selection {
  color: rgb(0, 0, 0);
  background: rgb(217, 217, 217);
}

::selection {
  color: rgb(0, 0, 0);
  background: rgb(217, 217, 217);
}
