@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  width: 400px;
  height: 600px;
  margin: 0;
  overflow: hidden;
  font-family: 'Sora', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}
@layer base {
  :root {
    --light: 247 252 254;
    --dark: 36 37 38;
  }
}
